* {
	padding: 0;
	margin: 0;
}
/*body*/
body {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: 100vh;
	background-color: black;
	/* background-image: url(image/image3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; */
	color: white;
	text-transform: capitalize;
}
/*header and nav*/
header {
	display: flex;
	height: 4rem;
	background-color: rgb(14, 13, 13);
	flex-wrap: nowrap;
	overflow-x: auto;
}

#logo {
	margin-left: 4rem;
}

#logo img {
	width: 140px;
	height: 55px;
	background-color: rgb(14, 13, 13);
}

nav ul {
	display: flex;
	text-transform: capitalize;
}

nav ul li {
	text-decoration: none;
	list-style-type: none;
	margin-left: 1rem;
	margin-top: 0.5rem;
}

nav ul li a{
	margin-left: 200px;
	font-size: 35px;
	color: rgb(250, 248, 248);
}

nav ul li a i {
	text-decoration: none;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	align-items: center;
	justify-content: center;
	
	color:rgb(241, 237, 237);
}

nav ul li a i:hover{
	background-color: rgb(253, 253, 253);
	cursor: pointer;
	color: rgb(3, 3, 3);
}

nav ul li input[type=text] {
	background-image: url(icon/icon6.png);
	background-size: 25px;
	width: 500px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	font-size: 20px;
	background-color: black;
	background-position: 8px 8px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	cursor: pointer;
	margin-left: 2rem;
	border-radius: 100px;
	text-transform: capitalize;
	border: none;
	color: white;
}

nav ul li #btn{
	padding: 10px 15px;
	color: grey;
	border-radius: 60px;
	margin-left: 5rem;
	font-size: 20px;
	border: none;
	background-color: rgb(14, 13, 13);
	font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: capitalize;
}

nav ul li #btn:hover{
	color: rgb(252, 249, 249);
	cursor: pointer;
	
}

nav ul li #button{
	padding: 12px 30px;
	background-color: rgb(250, 247, 247);
	color: rgb(8, 5, 5);
	border-radius: 60px;
	right: 0%;
	font-size: 20px;
	border: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: capitalize;
}

nav ul li #button:hover{
	cursor: pointer;
	background-color: rgb(14, 13, 13);
	color: white;
}

#page{
	display: flex;
	flex-wrap: wrap;
}

#page aside div #head{
	padding: 10px;
	padding-left: 30px;
	font-size: 22px;
	color: rgb(136, 134, 134); 	
}

#page aside{
	width:25% ;
	height: 77vh;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(19, 19, 19);
	border-radius:20px ;
	margin: 10px;
	position: relative;
}

#page aside #playlist{
	overflow: auto;
	height: 40%;
	width: 90%;
}

#page aside #playlist #playlist1{
	background-color: rgb(31, 31, 31);
	color: white;
	margin: 6%;
	border-radius: 10px;
	height: 50%;
	padding: 30px 15px;
	font-size: 12px;
	padding-right: 30px;
}

#page aside #playlist #playlist2{
	background-color: rgb(31, 31, 31);
	color: white;
	margin: 7%;
	border-radius: 10px;
	height: 50%;
	padding: 30px 15px;
	font-size: 12px;
}

#page aside #playlist p{
	padding:5px 0px 10px 0px ;
}

#page aside #playlist #playlist_btn{
	background-color: white;
	color: black;
	padding: 5px 10px;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 12px;
	font-size: 15px;
	border: none;
	text-transform: capitalize;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page aside #playlist #playlist_btn:hover{
	border: none;
	background-color: rgb(3, 3, 3);
	color: rgb(212, 211, 211);
}

#page aside #footer{
	margin-left: 10px
}

#page aside #footer span{
	padding-right: 30px;
	font-size: 14px;
	color: #5c5b5b;
	cursor: pointer;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: capitalize;
}

#page aside #footer button select{
	border-radius: 20px;
	box-sizing: border-box;
}

#page aside #footer #button{
	border-radius: 15px;
	padding: 5px;
	margin-top: 5px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
}

#page aside #footer #button:hover{
	color: black;
	background-color: white;
	cursor: pointer;
	border: none;
}

#page section{
	border-radius: 20px;
	width: 72%;
	margin: 5px;
	height: 78vh;
	background-color: rgb(19, 19, 19)
}

#page section #singer img{
	width: 140px;
	height: 140px;
	border-radius: 80px;
	padding: 12px;
}

#page section #singer img.active{
	opacity: 1
}

.p{
	padding: 10px;
	font-size: 30px;
	padding-left: 10px;
	text-transform: capitalize;
	color: rgb(202, 200, 200);
}

#page section #singer{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;	
}

#page section #singer1 {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

#page section #singer1 .playlistitem img{
	width: 140px;
	height: 140px;
	border-radius: 20px;
	padding: 10px;
}

.itemsong{
	margin-top: 120px;
	font-size: large;
}

#page section #singer1 .playlistitem p{
	padding: 5px 20px;
	text-transform: capitalize;
	color: rgb(202, 200, 200);
}

#songplay{
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
    text-align: center;
	justify-content: center;
}

 #range{
	width: 70%;
	cursor: pointer;
	justify-content: center;	
}

#masterplay{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 7px;
}

#word{
	margin-right: 7px;
	margin-left: 7px;
	cursor: pointer;
}

#masterplay1{
	position: absolute;
	display: flex;
	margin-left: 210px;
	margin-top: 22px;
}

#gif{
	opacity: 0;
}

/* .duration{
	display: flex;
     position: absolute;
	 padding-top: 10px;
}

.current-time{
	padding-left: 210px;
}
.duration-time{
	padding-left: 860px;
	
} */